{% extends 'usercenter-base.html' %}
{% block title %}修改班级-教师教学辅助系统{% endblock %}
{% block custom_css %}
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="/user/home/">个人中心</a>></li>
                <li>班级信息</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block right_content %}
    <div class="right">
		<div class="personal_des ">
			<div class="head" style="border:1px solid #eaeaea;">
				<h1>班级信息</h1>
			</div>
			<div class="inforcon">

            <form class="clearfix" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off" method="post"  target='frameFile'>
                        <label class="changearea" for="avatarUp">
                            <span id="avatardiv" class="pic">
                                <img width="400" height="300" class="js-img-show" id="avatarShow" style="margin-left: 250px;margin-top: 10px" src="{{ MEDIA_URL }}{{ classs.image }}"/>
                            </span>

                        </label>
                        {% csrf_token %}
                    </form>
					<form class="form-horizontal" role="form" method="post" style="width: 600px;margin: 0 auto" action="{% url 'users:modify_class' classs.id %}">
                        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">班级号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" value="{{ classs.class_id }}" name="class_id">
                          </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">年级</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" value="{{ classs.grade }}" name="grade">
                          </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">所在院</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" value="{{ classs.yard }}" name="yard">
                          </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">专业</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" value="{{ classs.profession }}" name="profession">
                          </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">班级公告</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" value="{{ classs.class_info }}" name="class_info">
                          </div>
                        </div>
                    <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
                        <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto">修改班级</button>
                {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
